body {
    background-color: #333333;
    color: #FFFFFF;
    font-family: Arial;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: #FF0000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #111111;
}

.food-listing {
    margin: 50px;
    padding: 20px;
    transition: transform .2s;
}

.food-listing:hover {
    transform: scale(1.1);
}

.food-image {
    width: 100%;
    height: auto;
}

.food-description {
    margin: 10px 0;
}

.order-now {
    background-color: #FF0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.order-now:hover {
    background-color: #FF4500;
}

html {
    scroll-behavior: smooth;
}