body {
    background-color: #F5F5DC;
    color: #006400;
    font-family: Arial;
}

#main-header {
    background-color: #006400;
    color: #F5F5DC;
    padding: 20px 0;
    text-align: center;
}

#main-header h1 {
    font-size: 2em;
}

#navbar {
    background-color: #006400;
    color: #F5F5DC;
    padding: 10px 0;
}

#navbar a {
    color: #F5F5DC;
    text-decoration: none;
    margin: 0 15px;
}

#navbar a:hover {
    color: #F5F5DC;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

#content h2, #content h3 {
    font-size: 1.5em;
}

.post h3 {
    font-size: 1.2em;
}

#sidebar {
    float: right;
    width: 25%;
    padding: 20px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul a {
    color: #006400;
}

#sidebar ul a:hover {
    color: #006400;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

footer {
    background-color: #006400;
    color: #F5F5DC;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #F5F5DC;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #F5F5DC;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}